* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.corner {
  position: absolute;
  border: 2px solid #CCCCCC;
  width: 20px;
  height: 20px;
}
.c1 {
  left: 10px;
  top: 10px;
}
.c2 {
  right: 10px;
  top: 10px;
}
.c3 {
  left: 10px;
  bottom: 10px;
}
.c4 {
  right: 10px;
  bottom: 10px;
}
.info {
  right: 100px;
  top: 10px;
  border: none;
  font-size: small;
}
canvas {
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
}
