@font-face {
  font-family: 'sf medium';
  src: url(../../../fonts/SFUIText-Medium.ttf);
}
* {
  font-family: 'sf medium';
}
.sub1 {
  width: 100px;
  height: 100px;
}
.sub2 {
  width: 200px;
  height: 200px;
}
.sub3 {
  background-image: url('../../../images/1.png');
  width: 100px;
  height: 100px;
}
#d1 {
  width: 100px;
  height: 100px;
  background-color: darkred;
}
