<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="style/main.css" rel="stylesheet"/>
</head>
<body ng-app="app" ng-controller="MainController">
<div class="select-button" ngf-select="upload($file)" ng-model="file" ngf-accept="'image/*'">Select</div>
<div class="image-container">
        <div ng-repeat="img in images">
            <img  height="255" src="{{img}}">
        </div>

</div>
</body>
<script src="build/bundle.js"></script>
</html>